.layout{
    display:flex;
    margin-top: 50px;
    margin-left: 50px;
}

.menu{
    display:flex;
    flex-direction: column;    
}

.item {
    padding : 0.5rem 1rem;
}

.console{
    display:grid; 
    grid-template-columns: 120px 210px 120px;
    grid-template-rows: 60px 120px 60px;
    grid-template-areas: "control1 control2 control3"
                         "control4 screen control5"
                         "control6 control7 control8";
    border: 1px solid blue;
    text-align: center;
    background:url('../img/consola.jpg');
    background-size: cover;
    align-items: center;
}

.console>#screen {
    height: 120px;
    width: 210px;
}

.console> #screen:hover{
    background: url('../img/logo.jpg');
    background-size: cover;
}

.control1:hover {
    grid-area:control1; background-color:blue;
    grid-area:control1; align-self: left;
}
.control6{
    grid-area: control6;
    display:grid;
    grid-template-columns:repeat(2 1fr);
    grid-template-rows: repeat(2 1fr);
    grid-template-areas: "triangle triangle"
                         "square circle"
                         "cross cross";
}

.buttons-right{
    background-color: black;
    text-shadow: grey;
    font-weight: bold;
    align-items: center;
    color: white;
}
.triangle{
    grid-area: triangle;
}
.triangle:hover{
    color: red;
}
.square{
    text-align:center;
    grid-area: square;
}
.square:hover{
    color: yellow;
}
.circle{
    grid-area: circle;
}
.circle:hover{
    color: green;
}
.cross{
    grid-area:cross;
}
.cross:hover{
    color: purple;
}
